---
import list from '@/content/lists/WebLinks.json';

const {heading} = Astro.props;
const Tag = Astro.props.tag || "h2";
---

{ heading && <Tag class="headTitle">{heading}</Tag> }

{
    list.map(({heading, items}) => (
        <h3>{heading}</h3>

        <ul class="clean">
        {
            items.map(({title, url, blank}) => (
                <li><a href={url} target={blank ? '_blank' : null}>{title}</a></li>
            ))
        }
        </ul>
    ))
}